<launch>
    <arg name="height" default="400" />
    <arg name="width" default="600" />

    <node pkg="rqt_question_box" type="rqt_question_box" name="rqt_question_box" respawn="false" output="screen">
        <param name="height" type="int" value="$(arg height)"/>
        <param name="width" type="int" value="$(arg width)"/>
    </node>
</launch>